// переменные и миксины
// переменные берутся из стайлгайда


$green: #55B030;
$bgreen: #51AC49;
$red: red;

$pirple: rgb(147, 92, 224);


$black: #34373b;
$pink: #ba1a76;
$gray: #a2b1b5;
$pinkish: #d7d3c2;
$silver: #eaebeb;
$white: #FFF;
$purple-brown: #231f20;
$charcoal-grey: #353035;

$linkColor: $black;
$linkColor-visited: $black;
$linkColor-hover: $pink;

$defaultShadow: 0px 8px 36px 0px rgba(89, 89, 89, 0.07);

$mainFont: 'Lato', sans-serif;
$subFont: 'Geometric', serif;

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

$fontSize: 15px;





