.header {
  padding: 30px 0;

  &__victor-name {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 100%;
  }

  &__logo {
    margin: 0 auto 30px;
    position: relative;
    display: flex;
    height: 32px;
    width: 260px;

    font-family: 'Fixedsys';
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;

    @include respond-to(md) {
      margin: 0;
      float: left;
      font-size: 34px;
      width: 370px;
    }

    &--top {
      color: #0098FF;
      z-index: 3;
    }
    &--middle {
      color: #851CFF;
      left: 4px;
      top: 0px;
      z-index: 2;
    }
    &--bot {
      color: #FF1F5D;
      left: 6px;
      top: -2px;
      z-index: 1;
    }
  }



  &__score {
    margin: 0 auto;
    padding: 10px 20px;
    background: $pirple;
    border-radius: 10px;
    max-width: 130px;

    @include respond-to(md) {
      margin: 0;
      float: right;
    }

    img {
      margin-right: 10px;
      position: relative;

      &.plusCoin {
        animation-name: coinPlus;
        animation-duration: 1s;
        animation-timing-function: ease;
      }
    }

    p {
      margin: 0;
      font-family: 'Fixedsys';
      line-height: 22px;
      font-size: 16px;
    }
  }
}

@keyframes coinPlus {
  0% {
    top: 0;
    transform: rotateY(0deg);
  }
  0% {
    top: -20px;
  }
  100% {
    top: 0;
    transform: rotateY(720deg);
  }
}